@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Define o fundo como um cinza azulado muito suave, melhor para os olhos que branco */
  --background: #F8FAFC; 
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}